#highscores {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  height: 100vh;
}

#highscorestitle {
  margin-bottom: 20px;
}

#gobacklink {
  margin-top: 20px;
}

.highscore {
  margin: 5px;
}
